html {
  text-align: center;
}

body {
  background-image: url('http://i.imgur.com/WdJLMuJ.jpg');
  background-color: #777;
  color: yellow;
}

h1 {
  margin-top: 90px;
  margin-bottom: 45px;
}

img {
  width: 200px;
  margin-top: 70px;
}

select {
  width: 500px;
}
